[submodule "DeskFlow"]
	path = DeskFlow
	url = https://github.com/parm2006/DeskFlow.git
[submodule "ClashofClanker"]
	path = ClashofClanker
	url = https://github.com/parm2006/ClashofClanker.git
[submodule "terraria-pixel-converter"]
	path = terraria-pixel-converter
	url = https://github.com/parm2006/terraria-pixel-converter.git
[submodule "Scholarly-Search-Engine"]
	path = Scholarly-Search-Engine
	url = https://github.com/parm2006/Scholarly-Search-Engine.git
[submodule "AI_Screenshot_Organizer"]
	path = AI_Screenshot_Organizer
	url = https://github.com/parm2006/AI_Screenshot_Organizer.git
[submodule "UCSB-coursework"]
	path = UCSB-coursework
	url = https://github.com/parm2006/UCSB-coursework.git
[submodule "Orator-AI"]
	path = Orator-AI
	url = https://github.com/parm2006/Orator-AI.git
[submodule "StarWarsRAG"]
	path = StarWarsRAG
	url = https://github.com/parm2006/StarWarsRAG.git
